@model Mvc5TestBed.MyMvcWebApp.Models.Wizard.WizardViewModel
@using System.Activities.Expressions;
@using System.Web.Script.Serialization
@{
    ViewBag.Title = "WizardExample";
}

@{
    string data = new JavaScriptSerializer().Serialize(Model);
}

@section scripts
{
    <script src="~/Scripts/knockout-3.3.0.js" type="text/javascript"></script>
    <script src="~/Scripts/knockout.mapping-latest.js" type="text/javascript"></script>
    <script src="~/Scripts/wizardViewModel.js" type="text/javascript"></script>
    <script src="~/Scripts/stepViewModel.js" type="text/javascript"></script>
    <script type="text/javascript">
        var wizardViewModel = new WizardViewModel(@Html.Raw(data));
        ko.applyBindings(wizardViewModel);
    </script>
}


<h2>WizardExample</h2>

@using (Html.BeginForm("Begin", "Wizard"))
{
    @Html.DisplayForModel();


    <input type="submit" value="Begin Wizard" class="btn btn-success"/>
}

