@model Mvc5TestBed.MyMvcWebApp.Models.Wizard.WizardViewModel
@{
    ViewBag.Title = "Step" + Model.CurrentStepNumber;
}

<h2>Step@(Model.CurrentStepNumber)</h2>

@using (Html.BeginForm("Next", "Wizard"))
{
    <div class="btn-group">
        <input type="submit" value="Next" class="btn btn-success" />
    </div>
    @Html.HiddenFor(m=>m.CurrentStep)
    @Html.HiddenFor(m => m.Steps)
}