
@model Mvc5TestBed.MyMvcWebApp.Models.Wizard.WizardViewModel
    
@{
    ViewBag.Title = "Step" + Model.CurrentStepNumber;
}

<h2>Step@(Model.CurrentStepNumber)</h2>

@using (Html.BeginForm("Next", "Wizard"))
{
    @Html.ActionLink("Back", "Back", null, new { @class = "btn btnDanger" })
}