@{
    ViewBag.Title = "Client Side Cropping with jCrop";
}


@Styles.Render("~/Content/jquery.Jcrop.css")

@*MUST REMOVE Jquery Bundle from _layout & refer like this (not sure why???)*@
@Scripts.Render("~/Scripts/jquery-1.10.2.js")
@Scripts.Render("~/Scripts/jquery.Jcrop.js")

<h1>Jcrop + canvas = Client Side Image Crop</h1>
<hr />
<input type="file" id="image_file" />
<h3>Source</h3>
<div id="image_input"></div>
<h3>Crop</h3>
<img id="image_output" style="border:1px solid #000" />
<textarea id="image_source" style="height:100px;width:300px"></textarea>
<hr />

<script type="text/javascript">
    var inputFile = document.getElementById('image_file');
    inputFile.addEventListener('click', function () { this.value = null; }, false);
    inputFile.addEventListener('change', readData, false);

    function readData(evt) {
        evt.stopPropagation();
        evt.preventDefault();
        var file = evt.dataTransfer !== undefined ? evt.dataTransfer.files[0] : evt.target.files[0];
        var reader = new FileReader();
        reader.onload = (function (theFile) {
            return function (e) {
                var image = new Image();
                image.src = e.target.result;
                image.onload = function () {
                    var canvas = document.createElement('canvas');
                    canvas.width = 400;
                    canvas.height = image.height * (400 / image.width);
                    var ctx = canvas.getContext('2d');
                    ctx.drawImage(image, 0, 0, canvas.width, canvas.height);

                    $('#image_input').html(['<img src="', canvas.toDataURL(), '"/>'].join(''));

                    var img = $('#image_input img')[0];
                    var canvas = document.createElement('canvas');

                    $('#image_input img').Jcrop({
                        bgColor: 'black',
                        bgOpacity: .6,
                        setSelect: [0, 0, 100, 100],
                        aspectRatio: 1,
                        onSelect: imgSelect,
                        onChange: imgSelect
                    });

                    function imgSelect(selection) {
                        canvas.width = canvas.height = 100;

                        var ctx = canvas.getContext('2d');
                        ctx.drawImage(img, selection.x, selection.y, selection.w, selection.h, 0, 0, canvas.width, canvas.height);

                        $('#image_output').attr('src', canvas.toDataURL());
                        $('#image_source').text(canvas.toDataURL());
                    }
                }
            }
        })(file);
        reader.readAsDataURL(file);
    }
</script>