@{
    ViewBag.Title = "Index";
}

@Styles.Render("~/Content/CssLoadNet.css")



<div class="container">
    <div id="img-import-row" class="row vertical-align">
        <div class="col-xs-4">
            <div>
                <img src="~/images/greenSquare.png" class="img-import-icon" />
            </div>
        </div>
        <div id="fountainG" class="col-xs-4">
            <div id=" fountaing_1" class="fountainG">
            </div>
            <div id="fountainG_2" class="fountainG">
            </div>
            <div id="fountainG_3" class="fountainG">
            </div>
            <div id="fountainG_4" class="fountainG">
            </div>
            <div id="fountainG_5" class="fountainG">
            </div>
            <div id="fountainG_6" class="fountainG">
            </div>
            <div id="fountainG_7" class="fountainG">
            </div>
            <div id="fountainG_8" class="fountainG">
            </div>
        </div>
        <div class="col-xs-4">
            <div>
                <img src="~/images/blueSquare.png" class="img-import-icon" />
            </div>
        </div>
    </div>
</div>

