
<h4>@ViewBag.Title</h4>
<hr />
<p data-bind="text: MessageToClient"></p>
<div>
    <div>
        <label>Customer Name:</label>
        <span data-bind="text: CustomerName"></span>
    </div>
    <div>
        <label>P.O. Number:</label>
        <span data-bind="text: PONumber"></span>
    </div>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>

